[2014-07-16 21:54] bermud opened #1 "GetFeatureInfo"
It seems that there is a problem with the test internally, because
GetFeatureInfo requests are never logged within the testrun and so the test is
passed at all without any note about the GFI tests.

Tested with  QGIS by Sebastian G.

GetFeatureInfo-Fehler Error downloading
http://cite.opengeospatial.org/te2/monitor/20?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&BBOX=-0.72065098468271349,-1.13

[2014-07-17 16:59] rjmartell commented on #1
I was not able to duplicate this issue using uDig 1.4.0 as the client with a local TE installation and the latest ETS revision. A GetFeatureInfo request was submitted to the proxy endpoint with the following query parameters:

`SERVICE=WMS&INFO_FORMAT=text/html&LAYERS=cite:BasicPolygons&CRS=CRS:84&FORMAT=image/png&HEIGHT=502&J=428&REQUEST=GetFeatureInfo&I=414&WIDTH=832&BBOX=-5.800796812749004,-1.0

[2014-07-18 18:50] rjmartell commented on #1
It seems that few--if any--WMS clients allow the user to select the (preferred?) content type of the GetFeatureInfo response (the INFO_FORMAT parameter is required). The target WMS [lists 12 supported formats](http://cite.lat-lon.de/deegree-webservices-3.3.6-2/services/wms?service=WMS&version=1.3.0&request=GetCapabilities); perhaps the client just chooses the first format it recognizes.

**Note**:

[2014-07-24 23:19] bermud opened #2 "Queryable \"1\" not supported"
GeoServer 2.2 GetCapabilities marks layers with queryable=\""1\"", the test
suite checks for \""true\"" resulting in failure:

layer.

(xsd:boolean);

expression

This appears to be a false positive, and may be an issue with the WMS 1.3.0
Client test suite.
The Specification OGC 06-042 page 30 indicates \""1\"" is a valid description:

GetFeatureInfo request:

    [http://localhost:8888/teamengine

[2014-07-24 23:20] bermud commented on #2
I have attached a simple stand-alone CTL script (scratchpad.xml) with a sample WMS 1.3 capabilities document. See https://portal.opengeospatial.org/files/?artifact_id=51362

The test "query_layers-queryable" appears to behave as expected. With QUERY_LAYERS='cite:Forests,cite:Lakes', the test should fail and indicate that cite:Lakes is not a queryable layer (queryable="0").

Before running the scri

[2014-08-13 10:37] bermud opened #3 "failure not clear"
The specification says that a client must "Generate an adequate sample of requests" for GetCapabilities (A.1.1.2), GetMap (A.1.1.3) and GetFeatureInfo (A.2.1).

It is not expected that a client those ALL the request advertise by the server. I think the message bellow implies that.

Failure example:

[code]

[2014-08-14 13:47] bermud opened #4 "Test should report on the console the requests that are required to perform by the client"
Steps:

1. When the test starts the test should tell the implementer what are the required requests, from the [overview page] (http://htmlpreview.github.io/?https://github.com/opengeospatial/ets-wms-client13/blob/master/src/main/web/index.html). Maybe using checkboxes or other indicator.
   - [ ] GetCapabilities
   - [ ] GetMap with xyz...
   - [ ] GetFeatureInfo
2. As the client starts interactin

[2014-08-14 13:49] bermud commented on #4
See related issue #3

[2014-08-19 15:21] bermud commented on #4
You can use udig as a client to test the test suite: http://udig.refractions.net/

[2014-11-20 14:54] bermud opened #5 "Check that SERVICE is not Mandatory in GetMap request"
chapter 7.2.2 and 7.2.3.3 say SERVICE is mandatory for GetCapa REQUESTs. (So the reference implementation is not strict)

But on GetMap SERVICE is not Mandatory (section 7.3.2)

[2014-11-20 18:23] pepijnve commented on #5
OWS Common states that service is mandatory on all operations in 9.2.1 table 29 though.

[2015-01-21 21:10] rjmartell commented on #5
The 'service' request parameter is not listed in Tables 8 or 9 (which specify the request parameters for `GetMap` and `GetFeatureInfo`, respectively). Since the WMS 1.3 spec does not depend on any other OGC spec, OWS Common constraints do not apply.

[2015-02-20 17:49] bermud commented on #3
Works fine in revision 1.0

[2015-02-20 17:49] #3 closed

[2015-02-20 17:52] bermud commented on #5
@upendra-sachan , Please check that the SERVICE parameter in the GetMap request  is **not** mandatory in the client test. Thank you!

[2015-02-20 17:53] bermud commented on #4
Completed nicely in the test server.
However; I was not able to see the dynamic reporting when building locally the test.
I tested with the latest TE : https://github.com/opengeospatial/teamengine/commit/13b8e3b2b34034cc81aa31848111e31b91bee1bd

After merging the fix and do some cleaning a new tag was created: 0.6.

[2015-02-20 18:00] bermud commented on #2
@upendra-sachan @aashishlodha please check that the client is only performing queries to queryable layers.

[2015-02-20 18:00] bermud commented on #1
This is not an issue any more in 1.0.

[2015-02-20 18:00] #1 closed

[2015-02-20 19:04] bermud opened #6 "Do we need user to select coverage reporting"
After selecting the test in the page: /teamengine/createSession.jsp
An "checkable' option appears:

Select Profile(s):
    Coverage reporting

Please remove. It is confusing to the user.

[2015-02-20 19:24] bermud opened #7 "When stopping the test without any request the result is incorrect and missing information"
Tested TE https://github.com/opengeospatial/teamengine/commit/13b8e3b2b34034cc81aa31848111e31b91bee1bd

WMS 1.3 client test v 0.6

![error](https://cloud.githubusercontent.com/assets/3738898/6307695/f6b97da4-b90b-11e4-959b-92d1c37b2888.jpg)

[2015-02-24 09:04] upendra-sachan commented on #6
Removed coverage reporting.

[2015-02-24 09:04] #6 closed

[2015-02-24 09:12] upendra-sachan commented on #4
There is issue comes after merging in wms-client13 in main.ctl file. I resolved it.

[2015-03-04 17:08] bermud opened #8 "GetFeatureInfo error ArrayIndexOutOfBoundsException"
When performing the following request

[code]
The following error appears in the browser:

[code]

And in the catalina logs:

[code]

[2015-03-04 17:11] bermud commented on #7
It seems is an error when stopping the test from the upper right stop button. The stop button at the bottom of the test works fine. Please fix any issues on the upper right test button and change the behavior of the bottom stop button  to match the behavior of the upper right button (i.e. make the same call).

[2015-03-04 18:23] bermud commented on #8
Seems that is an issue with the reference implementation.

The following request,

[code]

responds an HTML form

@segoerke, let us know is this is an issue with the ref implementation.

[2015-03-05 07:18] ghost commented on #8
This is no issue. It is a valid getfeatureinfo output. HTML was requested and HTML was responded. There are no further requirements on GFI output...
There could or should be an enhancement for that within the RI, but still this is only an enhancement as WMS 1.3.0 specification requirements are met.

[2015-03-05 11:04] upendra-sachan commented on #7
Hi Luis,

Yes, It is a issue for all test when stopping the test from the upper right
stop. The stop button at bottom of the test works fine. Because when we
click upper right stop it call this method:

if (operation.equals("Stop")) {
                response.setContentType("text/xml");
                TECore core = (TECore) session.getAttribute("testsession");
                if (core != null) {

[2015-03-05 11:58] bermud commented on #7
Why don't you add another attribute like testid to the session

If the testid !=null,
    call the new stop process
If not, behave as usual

[2015-03-19 13:55] bermud opened #9 "GetFeatureInfo request not working"
Tested with eab2cc2369c468297b69cac887e34749eb29e7aa (current master).

GetFeatureInfo fails. Stopping the test and looking at the details, the following error is encounter:

[code]

[2015-03-19 13:57] bermud opened #10 "Test not updating in Safari"
The result of the test gets automatically updated when using Firefox, but not Safari

[2015-03-19 16:59] bermud commented on #9
Not sure what happened. Reseting the cache on the browser and restarting udig made it work.

[2015-03-19 16:59] #9 closed

[2015-03-19 17:01] bermud commented on #7
Fixed here: https://github.com/opengeospatial/teamengine/commit/9539472571fceb938fad6c094e32c50dabaed000

[2015-03-19 17:01] #7 closed

[2015-03-19 17:03] bermud commented on #4
Closed in 0cec630cdcec1bad89d526e40f15b3a6c78a3474

[2015-03-19 17:03] #4 closed

[2015-03-19 17:05] bermud commented on #5
@upendra-sachan Please verify that SERVICE parameter in the GetMap request is not mandatory.

[2015-03-19 17:58] upendra-sachan commented on #5
Sure Luis.

I take this task as a priority task. And tomorrow itself I completed this.

Thanks.

---

Upendra Sachan
Mindstix Software Labs
http://www.mindstix.com

_Email:_ upendra.sachan@mindstix.com blah@mindstix.com
_Phone:_ +91 8446253174
_Skype:_ upendra.sachan1

On Thu, Mar 19, 2015 at 10:35 PM, Luis Bermudez notifications@github.com
wrote:

[2015-03-23 13:31] bermud commented on #10
closed with https://github.com/opengeospatial/ets-wms-client13/commit/69d427396198ff950b0c821cb4604e6e75d713f6

[2015-03-23 13:31] #10 closed

[2015-03-23 13:33] bermud commented on #5
Checked that is not mandatory

[2015-03-23 13:33] #5 closed

[2015-03-23 13:34] bermud commented on #2
Checked.

[2015-03-23 13:34] #2 closed

[2015-03-23 13:35] bermud commented on #8
uDig is passing and confirmed with Sebastian that this is not an issue.

[2015-03-23 13:35] #8 closed

[2015-03-26 13:19] bermud opened #11 "teamengine hardcoded in the code"
Refresh messages in safari and firefox cannot be seen, while executing the test. Results seem fine when the stop button is pressed.

Related to  https://github.com/opengeospatial/teamengine/issues/87

[2015-03-26 13:20] bermud commented on #11
Fixed in https://github.com/opengeospatial/ets-wms-client13/commit/d7b1b074b6bfb9b513eb8df93208fb5f11220b03

[2015-03-26 13:20] #11 closed

[2015-06-17 12:59] bermud opened #12 "GetFeatureInfo"
udig is the reference implementation.  4.1b is passing the test. (0.8 and 0.9)

1.5.0 RC1 is not passing due to CRS issue. This seems to be a problem with uDIG.

[code]

![wms13client](https://cloud.githubusercontent.com/assets/3738898/8207313/a607e3a4-14ce-11e5-8965-6640003a1938.jpg)

[2015-06-18 20:40] bermud opened #13 "Update Reference Implementation link"
The new reference implementation to be used is http://cite.deegree.org/deegree-webservices-3.3.6-2

[2015-06-18 20:41] bermud commented on #13
Fixed with https://github.com/opengeospatial/ets-wms-client13/commit/35e614085a4b815005cc215938e861d3bf053c9d

[2015-06-18 20:41] #13 closed

[2015-06-29 11:36] mpdaly opened #14 "GetMap test has incorrect requirement for STYLES parameter"
06-042 says, in section 7.3.3.4:

"If all layers are to be shown using the default style, either the form “STYLES=” or “STYLES=,,,” is valid."

However, the test suite rejects the following valid request (you will need to replace the {instance} in the URL with your own):

http://cite.opengeospatial.org/teamengine/monitor/{instance}?VERSION=1.3.0&SERVICE=WMS&REQUEST=GetMap&STYLES=&FORMAT=image%2fpn

[2015-06-29 13:27] bermud commented on #14
@upendra-sachan, please take a look at this issue.

[2015-07-08 10:48] bermud opened #15 "getmap:each-style Layer name(LaYeRs=Ponds) are not changed"
The name of the layer do not change in the test. It should.

Reported in the forum
http://lists.opengeospatial.org/pipermail/cite-forum/2015-July/001513.html

ex 1)
Test getmap:each-style type Mandatory default result Passed (s0003/d711e387_1/d1794e54_1/d1794e317_2)
Assertion: For style &quot;BasicPolygons&quot;, when the STYLES parameter is set to that style name, the MIME type of the response is

[2015-07-27 05:53] upendra-sachan commented on #15
In wms-client1.3 except to cite: Terrain layer, other layer sends their style in the form of default from wms-server.

[2015-07-28 12:21] upendra-sachan commented on #14
This issue occurred due to array size check was not present in https://github.com/opengeospatial/teamengine/blob/master/teamengine-web/src/main/java/com/occamlab/te/web/CoverageMonitor.java.
Now if user does not send any 'Style' it will handle it.
Changes have been done inside teamengine-web.

[2015-07-28 12:21] #14 closed

[2015-07-28 12:43] bermud commented on #15
The client should read the GetCapabilities and get the associated style to a particular layer to configure a proper map request. The test interacts with the reference implementation:
 http://cite.deegree.org/deegree-webservices-3.3.14-2/services/wms?service=WMS&version=1.3.0&request=GetCapabilities

The server advertises three styles for the cite:Terrain layer. All the other layers only use the de

[2015-07-28 12:43] #15 closed

[2015-09-22 13:52] bermud opened #16 "getFeatureInfo - Failure"
GetFeatureInfo is failing is not clear why

Here are logs
http://cite.opengeospatial.org/pub/cite/files/wms-client-13-20150922.zip

Here is the code:

[code]

[2015-09-24 14:13] upendra-sachan commented on #16
We tested the client request's URL and we found that they used WMS-server URL for testing GetFeatureInfo and it produced the result but, which was not related to the current session of running test. They have to pass the monitor URL instead of the WMS-server URL and its parameter.

We have tested the same URL at our end, with Monitor-URL of current running test session, it works fine in this case.

[2015-09-24 14:13] #16 closed

[2015-09-28 06:37] mickmaku commented on #16
Hello there.

I have tested the GetFeatureInfo as suggested. I am not sure if I understood the correct syntax for the monitor-URL. What I have just use is:

http://cite.opengeospatial.org/teamengine/monitor/X?SERVICE=WMS&INFO_FORMAT=text/html&LAYERS=cite:Terrain&CRS=EPSG:4326&FORMAT=image/png&HEIGHT=377&J=315&REQUEST=GetFeatureInfo&I=467&WIDTH=919&BBOX=-8.53183023872679,-1.0,8.53183023872679,6.0&S

[2015-09-28 07:24] keshavnangare commented on #16
Yes,the monitor URL is changed every time dynamically, i.e. value of X in the URL is always changed.

Example:-

If monitor URL is http://localhost:8080/teamengine/monitor/0
then request URL are:-
For GetCapability request :- http://localhost:8080/teamengine/monitor/0?{Parameters}
For GetMap request :- http://localhost:8080/teamengine/monitor/1?{Parameters}
For GetFeatureInfo request :- http://loc

[2015-09-28 07:35] mickmaku commented on #16
Okay. So do i have to consider adding 2 on the X value before constructing the URL for GetFeatureInfo? What i have been doing is to simply take the generated monitor-URL and simply append the:
?SERVICE=WMS&INFO_FORMAT=text/html&LAYERS=cite:Terrain&CRS=EPSG:4326&FORMAT=image/png&HEIGHT=377&J=315&REQUEST=GetFeatureInfo&I=467&WIDTH=919&BBOX=-8.53183023872679,-1.0,8.53183023872679,6.0&STYLES=terrain1&

[2015-09-28 07:50] upendra-sachan commented on #16
Yes you are thinking right,
According the monitor URL,
For GetCapabiltiy: adding 0 on the X value
GetMap: adding 1 on the X value
GetFeatureInfo: adding 2 on the X value.

[2015-09-28 07:53] mickmaku commented on #16
YES! That certainly did the job. Thanks a lot.

[2016-01-29 20:42] rjmartell opened #17 "Exception thrown when viewing test results"
An exception report is displayed after the test run is finished and the results are presented. From the Tomcat stderr log:

[code]

The stylesheet 'result-log.xsl' is part of the `teamengine-resources` module, but it appears to be used exclusively to assess the coverage achieved by a WMS client.

**Note**: Applies to ets-wms-client13-1.2-SNAPSHOT

[2016-01-29 20:57] rjmartell commented on #17
This is line 21 in result-log.xsl:

[code]

The $logdir parameter is an absolute file system path, but the [collection() function](https://www.w3.org/TR/xpath-functions/#func-collection) expects a URI.

[2016-02-02 12:40] keshavnangare commented on #17
Fixed with this commit [c127fce6716089bdbfc7cbf502ad0bc84e24fe32](https://github.com/opengeospatial/teamengine/commit/c127fce6716089bdbfc7cbf502ad0bc84e24fe32)

[2016-02-03 14:18] bermud opened #18 "Move JAX-RS resources from `teamenegine-spi` module"

[2016-02-03 14:20] bermud commented on #18
Fix with 819ca7baaeb469feda041abd3d7ed9d7e538e4d6

[2016-02-03 14:20] #18 closed

[2016-02-03 14:21] bermud opened #19 "Update reference implementation links"

[2016-02-03 14:21] bermud commented on #19
Fix with c287a04b624331fd6c781ec866dccd42a652598a

[2016-02-03 14:21] #19 closed

[2016-02-03 14:23] bermud opened #20 "Modify REST endpoints for default web config"

[2016-02-03 14:23] bermud commented on #20
Fix with 58a032329f924cfe4903fadedfc51180c232425f

[2016-02-03 14:23] #20 closed

[2016-02-11 15:05] #17 closed

[2016-04-19 13:18] bermud commented on #12
@keshav-nangare, please take a look at this issue. let me know if you can reproduce it.

[2016-04-20 14:17] keshavnangare commented on #12
This issue is not reproducible. We have tested the wms-client13 [1.2] with teamengine 4.6, it is working fine.

Following is the Test result:

![wms_client_test_result](https://cloud.githubusercontent.com/assets/14732650/14677312/c3d1e472-072e-11e6-9dd7-787914449921.png)

![wms_client_udig](https://cloud.githubusercontent.com/assets/14732650/14677338/deeea9e8-072e-11e6-91d4-2e7a2f2cdffa.png)

[2016-04-28 13:34] #12 closed

[2016-08-22 23:59] vinnakota opened #21 "server fails to parse all the requests."
When testing client requests not all requests are captured correctly by the server. I can see the valid request go through Fiddler.
After I stop the test session the generated report says 16 passed and also list failures.
Attached a PDF of the test result.

[Test Session Results.pdf](https://github.com/opengeospatial/ets-wms-client13/files/431406/Test.Session.Results.pdf)

[2016-08-25 18:53] bermud commented on #21
@vinnakota, Thank you for submitting the issue. We are investigating.
@keshav-nangare, It seems the front web page (green check marks) is not getting properly updated.

[2016-09-19 17:29] keshavnangare commented on #21
@vinnakota

Have tried with the latest teamengine and wms-client13 version?

Because I have tried with the latest version of teamengine(4.9-SNAPSHOT) and wms-client13(1.3-SNAPSHOT) with the "Udig" client, it was working fine,

Following is the result:

![test session results 4](https://cloud.githubusercontent.com/assets/14732650/18641924/4fceeea2-7ebc-11e6-837f-96022efe84af.png)

[2016-09-20 00:56] vinnakota commented on #21
Hi Keshav,
 I am using ArcMap. The client sends correct requests (I verified using fiddler). I tried the latest available TeamEngine and am still seeing these issues.

[2016-09-22 18:43] bermud commented on #21
We tested with ArcMap and the TEAM Engine beta installation http://cite.opengeospatial.org/te2/.
And it passes.

See this video:
http://cite.opengeospatial.org/pub/cite/files/te2_wms-client.mp4-20160922.zip

Are you using the production or beta web site?

[2016-10-20 22:58] vinnakota commented on #21
I tried both the Production and Beta test engines. See failures in both of them.

[WmsClient_TeamEngine_Beta.pdf](https://github.com/opengeospatial/ets-wms-client13/files/543128/WmsClient_TeamEngine_Beta.pdf)
[WmsClient_TeamEngine_Prodcution.pdf](https://github.com/opengeospatial/ets-wms-client13/files/543127/WmsClient_TeamEngine_Prodcution.pdf)

[2017-02-15 13:46] bermud opened #22 "Not able to see more details about a failure"
Then testing WMS Client Test Suite  1.2 using Team Engine 4.10. The session results as shown below. It is not possible to get more information regarding the failed test cases.
![client](https://cloud.githubusercontent.com/assets/3738898/22977023/1779a196-f35b-11e6-8181-51a676073dbd.png)

Logs here:
http://cite.opengeospatial.org/pub/cite/files/s0011-20170215.zip

[2017-02-15 13:52] bermud commented on #22
@keshav-nangare,  Please review the logs and explain why the client failed and try with dig and check if you have a similar experience

[2017-02-20 14:20] bermud commented on #22
Will move this issue to waiting status until we figure out how to replicate it.

[2017-05-10 10:49] keshav-nangare opened #23 "Update CTL with better information about conformance classes"
The test needs to be updated to better provide information about the grouping of the conformance class and determination about which ones are the basic conformance classes needed for certification.

Changes that are required are described here:

https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

[2017-06-13 16:43] robinhoutmeyers opened #24 "The WMS client test fails to capture all GetMap requests"
While using the WMS client test, we noticed that it does not capture all WMS GetMap requests. It seems that it stops after +- 2 requests. However, the server does seem to work ok, because we can retrieve and visualize all WMS layers in our client. Based on this, I would guess an issue in the monitoring logic.

Example of the observed behavior:

![wms_client_test_behavior](https://user-images.githu

[2017-11-09 08:11] lgoltz opened #25 "Test fails even though subtests are passed"
Testing the WMS Client on ZuluGIS 8.0 [1] with WMS 1.3 client on the official TEAM Engine [1] fails even though all test are successful.

![wmstest](https://user-images.githubusercontent.com/3007848/32594813-bc10f886-c52d-11e7-8417-9b2304e9780b.png)

Output of the console: [Console.html.zip](https://github.com/opengeospatial/ets-wms-client13/files/1456824/Console.html.zip)

[1] http://www.opengeos

[2017-11-09 08:13] lgoltz commented on #25
The exported session does not contain any more information about a failure.

Does the problem occurs with the beta version of the TEAM Engine [1]?

[1] http://cite.opengeospatial.org/te2/

[2017-11-09 12:34] lgoltz commented on #25
On beta the same problem occurred than on alpha.

From the log files on the server I cannot find any hints.

[2017-11-16 12:57] lgoltz commented on #25
The problem seems to be that the test results are not correctly mapped in the execution page:
![image](https://user-images.githubusercontent.com/3007848/32892178-a2a67508-cad5-11e7-94de-5b1630db1c27.png)

E.g. the test `cite:Bridges` is executed and successful, but the result is not shown in the execution page. During execution of the test, the result is logged as expected in the console and is de

[2017-11-16 12:58] lgoltz commented on #25
The failure can be reproduced locally with the docker environment and QGIS.

[2017-11-16 13:09] lgoltz opened #26 "NullPointerException in test.jsp"
After selecting the WMS 1.3 Client ETS the following stack trace is logged in the tomcat log:

Nov 16, 2017 1:06:54 PM org.apache.catalina.core.StandardWrapperValve invoke
SEVERE: Servlet.service() for servlet [jsp] in context with path [/teamengine] threw exception [An exception occurred processing JSP page /test.jsp at line 59
[code]

Tested with
 * local docker environment
 * TEAM Engine 4.10

[2017-11-16 13:12] lgoltz opened #27 "Result view (tree) is missing"
After stopping the test the result view is missing. Only the table with the test results are available. The following stack trace is logged in the tomcat log:

[code]

Tested with
 * local docker environment (as well as in production)
 * TEAM Engine 4.10
 *  ETS Web Map Service 1.3 (WMS) - Client 1.2

[2018-01-09 12:25] keshav-nangare opened #28 "FileNotFoundException in wms-client test"
This is the platform specific issue with the file separator in the file path.

[code]

[2018-01-09 12:40] keshavnangare commented on #27
The result tree is not visible in the latest teamengine version. While implementing the new HTML report we commented code which is showing the wms-client result so thats the reason missing result tree.

I will update the teamengine which will display the wms-client result on the old result page.

[2018-01-09 12:50] lgoltz commented on #24
Tested with the following settings:
 * local Docker environment
 * ets-wms-client13 1.3-SNAPSHOT
 * TEAM Engine 5.2-SNAPSHOT
 * Firefox Quantum 57.0.4 (64-Bit)
 * Testes client: QGIS 2.18.15

The problem still occurs.

The  request send  in https://github.com/opengeospatial/ets-wms-client13/blob/48e27d336e22474c1af65e7c0552634aa531b4dc/src/main/scripts/ctl/main.ctl#L681-L683 returns exact one line

[2018-01-09 13:13] keshavnangare commented on #28
Fixed with this commit: 96472bf1c62fc9a5384b6ef5a370925abd442c3c

[2018-01-09 13:14] keshavnangare commented on #28
This issue is related to #27

[2018-01-11 07:05] lgoltz opened #29 "Test status is not shown"
ETS lists all the tests that need to execute but does not show the test status (pass/fail)

* Production (http://cite.opengeospatial.org/teamengine, ETS WMS  Client 1.3.0, v1.2, TEAM Engine 4.10)
![wms_client_test](https://user-images.githubusercontent.com/4108977/34785750-eeac9a54-f5e6-11e7-87a5-ace91fe935fd.png)

* On a in-house server hosting the same version as the production the test result n

[2018-01-11 07:24] lgoltz commented on #29
@vinnakota Please ensure you use the correct URL in the client. This must be an URL like http://cite.opengeospatial.org/teamengine/monitor/3

Please try to send the following request manually (e.g via browser):  <URL_PROVIDED_BY_ETS>?REQUEST=GetCapabilities&SERVICE=WMS
The first test ("Perform at least one GetCapabilities request") should be marked as successful. Please report the result (the resu

[2018-01-11 11:43] #28 closed

[2018-01-11 11:45] lgoltz commented on #28
Merges PR as it looks well. Tested on Ubuntu 17.04, the fix does not break anything.

[2018-01-11 11:49] lgoltz commented on #27
I've tested the branch https://github.com/opengeospatial/ets-wms-client13/tree/feature-isssue%2328 (PR #30) with the TEAM Engine branch https://github.com/opengeospatial/teamengine/tree/feature-issue%23304 (PR https://github.com/opengeospatial/teamengine/pull/305).
The exception still occurs and the result is empty. After stopping the test the information that the new HTML report is not available

[2018-01-11 16:58] vinnakota commented on #29
@lgoltz In production (on http://cite.opengeospatial.org/teamengine ) the test engine does not give me any WMS URL to connect to. To repro this issue:
1. Log in to TeamEngine and create a new session
2. Select "Web Map Service (WMS) - Client - 1.3.0 [1.2] specification
3. Give this session a description
4. Click on "Start a new test session" button.
5. You will get a "Executing tests...." page and

[2018-01-12 07:42] lgoltz commented on #29
@vinnakota Thanks for describing the steps in detail!

Production is running again.  I've observed this on a local running ETS. We have to made some investigations.

The problem you describe with your local environment are already described https://github.com/opengeospatial/ets-wms-client13/issues/24. We are currently working on it.  The problem also occur on production.

[2018-01-16 12:17] keshavnangare commented on #24
Fixed with this commit: 85a15893e426481fc1c9f9b243febbef7295d0a9.  [PR: #31]

[2018-01-19 08:35] #24 closed

[2018-01-19 08:37] lgoltz commented on #27
Result tree is still  missing, cause of the failure described in https://github.com/opengeospatial/ets-wms-client13/issues/27#issue-274510955

The methode
https://github.com/opengeospatial/ets-wms-client13/blob/d50b734706abdf002b3826623ffdd3dd2ff7b1fc/src/main/java/com/occamlab/te/spi/jaxrs/resources/wmsclient/TestMapResources.java#L105 should be invoked, but is not.

[2018-01-19 08:38] lgoltz commented on #27
I'm using FF 57.0.4

[2018-01-22 08:13] lgoltz commented on #21
May be related to #24.

[2018-01-22 08:16] lgoltz commented on #22
Duplicate of #27

[2018-01-22 08:17] #22 closed

[2018-01-23 12:52] keshavnangare commented on #27
Fixed the Ajax request issue with FF.

Commit: 52af091

[2018-01-24 08:15] keshavnangare commented on #26
@lgoltz

I am not able to reproduce this issue in my local environment. Can you provide more details(environment) or steps to reproduce this issue?

[2018-01-24 09:29] lgoltz commented on #27
Tested locally with the fix https://github.com/opengeospatial/teamengine/pull/305.

Result view(s) looks like expected.
@keshav-nangare Can you create a pull request for the fix in the ETS?

[2018-01-24 09:46] lgoltz commented on #26
I've tested again with current TEAM Engine and ETS snapshot and cammot reproduce this. Issue will be closed as invalid.

[2018-01-24 09:46] #26 closed

[2018-01-24 10:24] lgoltz opened #32 "Layer cite:Terrain not provided"
Tested with QGIS 2.18.15 and Udig with the current SNAPSHOT of ETS WMS CLient 1.3 and TEAM Engine 4.10.

The layer `cite:Terrain` cannot be added in the client but is required to pass the tests.

[2018-01-24 10:27] lgoltz commented on #32
Layer cite:Terrain is not listed in the capabilities of the proxy (e.g. http://localhost:8083/teamengine/monitor/3?REQUEST=GetCapabilities&SERVICE=WMS)

[2018-01-24 10:30] lgoltz commented on #32
As far as I see the proxy wraps this service: http://cite.demo.opengeo.org:8080/geoserver_wms13/ows?service=WMS&request=GetCapabilities
The layer is missing there, too.

I assume the missing layer must be added to the wrapped service. Or we have to remove the test from the ETS.

[2018-01-24 10:36] #27 closed

[2018-01-24 10:42] lgoltz commented on #23
I think all tests except GetFeatureInfo have to be declared as cc and basic.

[2018-01-24 13:45] lgoltz commented on #32
@bermud What do you think about that?

[2018-02-01 11:59] lgoltz commented on #29
A new version of the ETS WMS Client 1.3 was installed on beta with some bug fixes related to the described problem.
@vinnakota Can you recheck on [beta](http://cite.opengeospatial.org/te2/)?

[2018-02-01 12:00] lgoltz commented on #25
A new version of the ETS WMS Client 1.3 was installed on beta with some bug fixes related to the described problem.

ZuluGIS 8.0 should be rechecked.

[2018-02-01 12:00] lgoltz commented on #21
A new version of the ETS WMS Client 1.3 was installed on beta with some bug fixes related to the described problem.
@vinnakota Can you recheck on [beta](http://cite.opengeospatial.org/te2/)?

[2018-02-01 12:27] vinnakota commented on #21
@lgoltz the new version on Beta is much better. The test engine expects a request for cite:terrain layer that does not exist in the capabilities causing one test to fail.
another minor issue: the test engine seems to parse only the first layer in a GetMap request. Because of this I have to toggle each layer visibility individually for the parser to recognize the requests being sent.

[2018-02-01 12:30] vinnakota commented on #29
@lgoltz the new version on Beta is much better. The test engine expects a request for cite:terrain layer that does not exist in the capabilities causing one test to fail.
another minor issue: the test engine seems to parse only the first layer in a GetMap request. Because of this I have to toggle each layer visibility individually for the parser to recognize the requests being sent.

[2018-02-01 12:33] lgoltz opened #34 "Only the first layer is recognized if multiple layers was added"
The test engine seems to parse only the first layer in a GetMap request. Because of this I have to toggle each layer visibility individually for the parser to recognize the requests being sent.

[2018-02-01 12:36] lgoltz commented on #29
@vinnakota Thanks for quick response! The problem with the layer cite:Terrain is already documented in #32. I've created  a new issue for the other one: #34

[2018-02-01 12:36] #29 closed

[2018-02-01 12:36] lgoltz commented on #21
@vinnakota Thanks for quick response! The problem with the layer cite:Terrain is already documented in #32. I've created  a new issue for the other one: #34

[2018-02-01 12:36] #21 closed

[2018-02-01 15:49] dstenger opened #35 "Test engine is only processing the first layer when multiple layers are included in a request"
It looks like the test engine is only processing the first layer when multiple layers are included in a request. Individual layer requests have to be sent for the individual layers to turn green.

[2018-02-01 19:57] bermud commented on #32
Remove it from the test if it is redundant and update the readme and possible the UI

[2018-02-02 09:25] lgoltz commented on #35
I think this is a duplicate of #34

[2018-02-02 09:37] dstenger commented on #35
Yes, this is a duplicate. We will continue working on this issue in #34.

[2018-02-02 09:37] #35 closed

[2018-02-14 09:38] keshavnangare commented on #32
Fixed with this commit: ffb9d950159392acb9836d1c96b6d48431d52d4a [PR #36].

[2018-02-14 09:58] dstenger commented on #25
ZuluGIS 8.0 was rechecked and reported problem does not occur any more.

[2018-02-14 09:58] #25 closed

[2018-03-01 08:54] lgoltz opened #37 "Adding multiple layers in QGIS is not recognized"
This is similar to #34 but QGIS does **not** send one request with multiple layers but one request per layer.

But the result is the same: Only one layer is recognized as requested and in the result view only one layer change the status.

[2018-03-01 08:55] lgoltz commented on #34
Problem is reproducible with FF 58.0.2 (Ubuntu Linux 17.10) and the following request:

http://localhost:8081/teamengine/monitor/4?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&BBOX=-1,-2,6,2&CRS=EPSG:4326&WIDTH=352&HEIGHT=614&LAYERS=cite:Autos,cite:BasicPolygons,cite:Bridges,cite:BuildingCenters,cite:Buildings,cite:DividedRoutes,cite:Forests,cite:Lakes,cite:MapNeatline,cite:NamedPlaces,cite:Ponds,cite

[2018-04-05 12:43] lgoltz commented on #32
I've tested the branch locally with the current TEAM Engine (5.3-SNAPSHOT) with the docker environment. `cite:Terrain` is not longer listed as layer to add, but after stopping the test, the parent ('Perform GetMap request for all the layers') is still marked as failed.

@keshav-nangare Can you take a look at this?

[2018-04-19 16:05] keshavnangare commented on #32
This issue is related to the teamengine so created the issue here: https://github.com/opengeospatial/teamengine/issues/333

[2018-04-25 08:44] dstenger commented on #32
We can close this issue as soon as opengeospatial/teamengine#333 is solved.

[2018-05-03 09:21] lgoltz commented on #23
As far as I  see  with the current structure of the tests the conformance classes cannot be configured. @keshav-nangare  Do you have an idea?

[2018-05-09 13:37] lgoltz commented on #32
Fix works fine with https://github.com/opengeospatial/teamengine/issues/333.
Both PRs can be merged.

[2018-05-09 13:38] #32 closed

[2018-05-15 11:17] dstenger opened #38 "Test result always contains one failure although all tests were passed successfully"
Used software:
* TEAM Engine 5.3-SNAPSHOT (current master branch)
* WMS 1.3 Client Test Suite 1.4-SNAPSHOT (current master branch)

All tests are passed successfully (e.g. with QGIS).
Nevertheless, the ```Summary of results``` displays one failure.

![wms-client13-failure](https://user-images.githubusercontent.com/2989166/40053620-43639936-5842-11e8-8325-6cd79a04bc40.png)

[2018-05-18 11:43] keshavnangare commented on #38
To fix this issue we have to update the coverage file from the teamengine-web app module, so the new issue create here: https://github.com/opengeospatial/teamengine/issues/344.
There is no change in ETS.

[2018-06-14 04:43] keshavnangare commented on #34
The only one layer is recognized by the teamengine even if the multiple layers in a request.

I have investigated theQGIS is not sending the multiple layers in single request so to process the layer we need to toggle each layer.

Also I have tested the Udig tool, the Udig is supporting the multiple layers in single request so may the problem is with the Qgis tool.

The teamengine is able to proces

[2018-06-18 07:47] keshavnangare commented on #23
Teamengine failed to generate new HTML report after CC configuration due to the empty test-inputs, so creating a new issue in teamengine section.

[2018-06-20 08:24] dstenger commented on #34
@keshav-nangare

Can you investigate what requests the tool QGIS and Udig are sending and document the results here?

[2018-06-26 12:42] keshavnangare commented on #34
@dstenger

I have investigated the QGIS and Udig tool and following are the results:

- QGIS:
         The QGIS sending the single request even if we selected the multiple layers.
         Requests:
         [1] Selected the two layers cite:Autos and cite:BasicPolygon: http://localhost:8080/teamengine/monitor/7?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&BBOX=-0.002200000000000000133,-0.0032000000000

[2018-06-28 14:40] dstenger commented on #23
Configuration of CCs must still be done.

[2018-06-28 15:08] dstenger commented on #38
Issue was fixed and tested in https://github.com/opengeospatial/teamengine/issues/344.

[2018-06-28 15:08] #38 closed

[2018-09-05 08:06] dstenger commented on #34
After https://github.com/opengeospatial/ets-wms-client13/pull/40 will have been merged, the reported behaviour should be tested again (with QGIS and Udig).

[2018-11-08 11:01] lgoltz commented on #23
After merging https://github.com/opengeospatial/teamengine/pull/349 the new HTML report is available.

[2018-11-08 11:09] lgoltz commented on #23
Tested locally with Docker environment (with current teamengine SNAPSHOT and ETS branch feature-issue#23) and QGIS 3.4 the new HTML report does not match the old report.
The **old report** is fine (the selected layers are marked as passed):

![ets-wms-client13-23_oldreport](https://user-images.githubusercontent.com/3007848/48194958-bba66a80-e34e-11e8-9ec3-7bd4e031dc9b.png)

But in the **new HTML r

[2019-03-05 08:46] lgoltz opened #42 "Failure if 'detailed old test report ' is opened"
Tested locally with teamengine v5.3 and ets-wms-client13 v1.3 in docker environment.

Steps to reproduce:
 * Start test session
 *  Execute test with QGIS 2.18 (not all tests are recognized)
 * Stop test
 * The new report could not be shown (as #23 is not implemented)
 * Follow link  'detailed old test report'
 * The following Stacktrace is logged:
[code]

[2019-03-06 09:17] dstenger commented on #23
Workaround: Disable new HTML report and introduce same behaviour occurring when basic conformance classes are not configured.

[2019-03-14 10:35] keshavnangare commented on #23
@dstenger

The PR https://github.com/opengeospatial/ets-wms-client13/pull/39  contains the basic CC configurationis and it's not merged into master.
If we not merging this PR then it will work as we are expecting in previous comment. We can keep this PR in waiting or close for now.

[2019-03-20 09:07] #23 closed

[2019-04-24 10:20] lgoltz commented on #37
@keshav-nangare
Can you test the PR #40 on windows, after moving the code from teamengine to the ets (https://github.com/opengeospatial/ets-wms-client13/pull/40#issuecomment-469652202).

[2019-05-07 10:36] keshavnangare commented on #37
@lgoltz

While testing this PR #40 I got the following  error:
`java.net.MalformedURLException: no protocol: ../../../../images/minus.png`
This issue is already reported here: https://github.com/opengeospatial/teamengine/issues/385

The PR https://github.com/opengeospatial/teamengine/pull/386 should be merged in master with the changes of wms-client

[2019-05-07 12:53] keshavnangare commented on #37
@lgoltz

I have tested PR #40 successfully and it's working on windows as well.

[2019-05-14 09:15] #37 closed

[2019-05-22 10:25] dstenger opened #43 "Enable creation of Docker Image"
Please see: https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites

[2019-10-01 08:10] dstenger commented on #42
Please try to use this service: http://cite.deegree.org/deegree-webservices-3.4.5/services/wms130?service=WMS&request=GetCapabilities

[2019-10-08 09:39] keshavnangare commented on #42
@dstenger

I have used the above service to reproduce this issue but still the Qgis says "Failed to download capabilities", also tried with Udig as well, it says "not able to connect wms service"

[2019-10-08 16:00] keshavnangare commented on #42
I have used the following service to test:
https://services.interactive-instruments.de/ogc-reference-2/cite/wms?request=getcapabilities&service=wms&version=1.3.0

There are some layers missing in this service but I am to test this test suite using QGIS.
I have tested the wms-client13 test suite with docker environment and able process the layers. Also status of processed layers are get updated on

[2019-10-09 08:54] keshavnangare commented on #43
Fixed with this commit: ef0a8999135a598de41c07ca1575d014d8f9c6c3

[2019-10-16 08:24] dstenger commented on #42
We should check if the failure still occurs.
If it can still be reproduced, used service must be added to description.

[2019-10-18 07:13] keshavnangare commented on #34
@dstenger

I have tested the reported behavior with QGIS & Udig tool and all the added layers are recognized.
If we add the multiple layers or single layer all are processed and updating the status on the teamengine page.

[2020-01-07 12:14] #43 closed

[2020-01-07 12:30] lgoltz commented on #34
Works fine now. Tested with
1. http://localhost:8081/teamengine/monitor/0?SERVICE=WMS&REQUEST=GetCapabilities
2. http://localhost:8081/teamengine/monitor/1?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&BBOX=-7,-5.840116279069768268,7,7&CRS=EPSG:4326&WIDTH=451&HEIGHT=492&LAYERS=cite:Bridges,cite:BasicPolygons,cite:Forests,cite:Lakes&STYLES=&FORMAT=image/png&DPI=96&MAP_RESOLUTION=96&FORMAT_OPTIONS=dpi:96

[2020-01-07 12:30] #34 closed

[2020-01-07 12:39] lgoltz commented on #42
Retested: Failure does not occur any longer.

[2020-01-07 12:39] #42 closed

[2020-01-07 12:48] lgoltz opened #46 "ETS depends on external services"
This ETS depends on external WMS. On of three hardcoded WMS are used, if all of them are unavailable a test run fails.
The WMS URL is selected here:
https://github.com/opengeospatial/ets-wms-client13/blob/d8f5c6162d55c49e1d6209d9ba4e016547ce169d/src/main/scripts/ctl/main.ctl#L44-L54

Furthermore not all test cannot be passed if one or more layers are not provided by the external service.

The ETS

[2020-01-09 19:19] vinnakota opened #47 "Multiple layers that the test expects are missing in the test WMS service"
WMS client test expects GetMap requests that target these 3 layers that are not advertised in the test WMS service. This is similar to issue #32
* cite:Autos
* cite:BuildingCenters
* cite:Terrain

I also tested against TeamEngine Beta and it too has similar issue.

I tested using ArcMap, ArcGISPro, and ArcGIS Online MapViewer. In this case the client doesn't matter because the test is expecting to

[2020-01-10 13:57] dstenger commented on #47
Thank you for reporting.

@keshav-nangare Can you please check which layers are not supported any more by test WMS service (please also consider Prod and Beta environments)?

[2020-01-16 14:48] keshavnangare commented on #47
Following is the test result of Beta environments:

We can see in below screenshot, as per the first comment the three layers are not advertised.
Ther service don't have these layers and the test suite is trying to process it. The `cite:Terrain`
layer was removed in the #32 issue and the PR is merged into master. But the Beta server & Prod server has the ets-wms-client13 version 1.3, this version

[2020-01-22 09:12] dstenger commented on #47
@keshav-nangare Can you please remove the layers `cite:Autos` and `cite:BuildingCenters` from the tests for now?

@ghobona Also, we should ask the maintainer of the service http://services.interactive-instruments.de/cite-xs-46/cite/cgi-bin/wms/wms/wms?request=GetCapabilities&version=1.3 about the stability.

[2020-02-03 14:25] dstenger opened #48 "Investigate the possbility to set up an OGC hosted WMS service for client tests"

[2020-02-03 14:26] dstenger commented on #48
@keshav-nangare Can you please check where to find the test data used by the backend service.

[2020-02-03 14:28] dstenger commented on #47
Issue created to host backend service by OGC: https://github.com/opengeospatial/ets-wms-client13/issues/48

[2020-02-03 14:30] lgoltz commented on #47
see also: #46

[2020-03-09 09:17] dstenger commented on #48
It seems that ets-wms-client13 uses the same test data as ets-wms13: http://opengeospatial.github.io/ets-wms13/

[2020-03-09 09:18] dstenger commented on #48
@keshav-nangare Can you please check if following service can be used with ets-wms-client13 test suite?
http://cite.deegree.org/deegree-webservices-3.4.5/services/wms130?request=GetCapabilities&service=WMS

[2020-03-11 17:24] keshavnangare commented on #48
[1] http://cite.deegree.org/deegree-webservices-3.4.5/services/wms130?request=GetCapabilities&service=WMS&version=1.3.0

I have tried the service[1] using QGIS and uDig tools and following are the observations:

- QGIS:
  - All the layers are processing with this service.
- uDig
  - It is unable to connect with the WMS client.

[2020-03-18 09:15] dstenger commented on #48
Conclusion: Service [1] can be used as back end service. So, the test data of ets-wms13 can be used to set up the service.

[1] http://cite.deegree.org/deegree-webservices-3.4.5/services/wms130?request=GetCapabilities&service=WMS&version=1.3.0

[2020-06-02 17:32] robinhoutmeyers opened #50 "WMS client test mismatch between available layers and layers to be tested"
The WMS client 1.3 test asks to request a numbers of WMS layers, but three of them do not appear in the capabilities of the WMS server:
- cite:Autos
- cite:BuildingCenters
- cite:Terrain

[2020-06-02 17:33] dstenger commented on #50
@robinhoutmeyers Thank you for reporting. I transferred the issue to the ets-wms-client13 repository as your question targets that test suite.

@keshav-nangare Can you please take a look at the reported behavior?

[2020-06-03 14:16] keshavnangare commented on #50
@dstenger

The test suite has the same version on both beta and production environments. So these three layers are appearing in both environments. As service used by the wms-client test suite is not returning the above mentioned three layers and we have removed these layers in PR #49 and #36. The PR #49 changes are not merged yet so the layers are appearing in the test page.
If we merge these chan

[2020-06-10 18:59] dstenger commented on #50
@robinhoutmeyers
Thank you for reporting.
However, this issue was already reported in #32 and #47.
I just merged all open pull requests and those fixes will be included in the next Beta release.

[2020-10-21 14:17] dstenger opened #52 "Test suite does not start on local Docker environment"
I am using the Docker Image of the current master branch and am accessing the test suite via the Web Browser Interface.

I am able to create a new session and to select "Start a new test session".
However, then " Executing tests... " appears and nothing happens (I waited for several minutes).

@keshav-nangare Can you please analyze why the test suite does not start correctly?

[2020-10-21 16:08] dstenger commented on #52
I just realized that I didn't wait long enough. After some time, the test starts.

However, when executing the tests (using QGIS), the status of the listed tests does not change (all of them stay grey).

Can you please check this behavior?

[2020-11-19 17:59] dstenger commented on #52
Test suite was just responding very slowly on my machine. However, it is still working correctly.

[2020-11-19 17:59] #52 closed

[2020-11-24 19:41] dstenger opened #53 "Artifacts cannot be published to Central Maven Repository"
Following failure message is documented:

[code]

[2020-12-14 08:25] keshavnangare commented on #53
I have added license information in the pom file. Please find the changes in #54 PR.

[2021-05-26 09:40] ghobona commented on #48
2021-05-26 telecon

We will close this ticket after deploying a WMS on to OGC infrastructure, with data for the WMS client test suite.

[2021-06-09 20:58] ghobona commented on #48
@dstenger I have reopened the issue.

[2021-07-05 08:12] dstenger opened #57 "Update deegree service to v3.4.16"
File to update: https://github.com/opengeospatial/ets-wms-client13/blob/master/src/main/scripts/ctl/main.ctl

[2021-07-22 15:57] #53 closed

[2021-07-22 16:22] #57 closed

[2021-07-22 16:24] dstenger commented on #57
Commit: https://github.com/opengeospatial/ets-wms-client13/commit/275e7f212f00694eef0554e90a5fec260365cd17

[2021-07-22 17:59] dstenger opened #59 "GetFeatureInfo tests cannot be passed as all GFI requests sent by QGIS client return empty responses"
QGIS 3.10 client was used.

Current master branch was used for testing. But also on Beta and Production it was not possible to test GFI successfully.

[2021-07-26 08:32] dstenger commented on #59
We were just able to confirm that the GFI tests work.

[2021-07-26 08:32] #59 closed

[2021-07-26 08:34] dstenger opened #60 ""Perform GetMap request for all the layers" test cannot be passed"
We were not able to pass test "Perform GetMap request for all the layers" when using QGIS.

![Bildschirmfoto vom 2021-07-26 10-34-19](https://user-images.githubusercontent.com/2989166/126959155-c8193423-e388-46d8-adb2-8493bf7cfe12.png)

[2022-05-11 08:16] dstenger opened #61 "Update URL to deegree reference implementation"
New URL: https://cite.deegree.org/deegree-webservices-3.4.30/services/wms130?service=WMS&request=GetCapabilities

[2022-05-23 13:55] #61 closed